@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.ttf") format("ttf")
    url("fonts/Raleway-Black.ttf") format("ttf")
    url("fonts/Raleway-BlackItalic.ttf") format("ttf")
    url("fonts/Raleway-Bold.ttf") format("ttf")
    url("fonts/Raleway-BoldItalic.ttf") format("ttf")
    url("fonts/Raleway-ExtraBold.ttf") format("ttf")
    url("fonts/Raleway-ExtraBoldItalic.ttf") format("ttf")
    url("fonts/Raleway-ExtraLight.ttf") format("ttf")
    url("fonts/Raleway-ExtraLightItalic.ttf") format("ttf")
    url("fonts/Raleway-Italic-VariableFont_wght.ttf") format("ttf")
    url("fonts/Raleway-Italic.ttf") format("ttf") url("fonts/Raleway-Light.ttf")
    format("ttf") url("fonts/Raleway-LightItalic.ttf") format("ttf")
    url("fonts/Raleway-Medium.ttf") format("ttf")
    url("fonts/Raleway-MediumItalic.ttf") format("ttf")
    url("fonts/Raleway-SemiBold.ttf") format("ttf")
    url("fonts/Raleway-SemiBoldItalic.ttf") format("ttf")
    url("fonts/Raleway-Thin.ttf") format("ttf")
    url("fonts/Raleway-ThinItalic.ttf") format("ttf")
    url("fonts/Raleway-VariableFont_wght.ttf") format("ttf");
}

/*Corps de la page*/

body {
  font-family: "Raleway";
  max-width: 1500px;
  margin: auto;
  padding-left: 1.25rem;
}

header {
  width: 100%;
  /* min-width: 1350px; */
}

/*Icônes*/

.fas {
  color: #0065fc;
  background-color: #deebff;
  padding: 0.4375rem;
  border-radius: 50%;
}

.fa-child, 
.fa-money-bill-wave, 
.fa-heart, 
.fa-dog {
  font-size: 11.25pt;
    padding: 1rem;
}

.fa-child {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.fa-info {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: white;
  border: 1px solid #f2f2f2;
}

.fa-chart-line,
.fa-map-marker-alt {
  color: black;
  background-color: #f2f2f2;
  border-radius: 0%;
}

.fa-chart-line {
  width: 3.125rem;
  height: 3.125rem;
}

.fa-star {
  font-size: 0.75rem;
  color: #0065fc;
  background: none;
  padding: unset;
}

.gris {
  color: #f2f2f2;
}

/*Menu*/
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* min-width: 1350px; */
}

.menu a {
  display: block;
  text-decoration: none;
  color: black;
  border-top: 2px solid transparent;
  padding-top: 1.875rem;
}

.menu .survol:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.menu .gras {
  color: #0065fc;
}

.menu div {
  display: flex;
  column-gap: 3.125rem;
}

.survol,
.gras {
  padding: 1.25rem;
}

/*Barre de recherche*/

.form {
  width: 100%;
  margin-bottom: 1.5rem;
}

.formulaire {
  width: fit-content;
  height: 2.5rem;
  border: solid 1px #f2f2f2;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

button {
  border: solid 1px #0065fc;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.625rem;
  background-color: #0065fc;
  color: white;
}

button .fa-search {
  display: none;
}

.barre {
  border: unset;
  padding: 0.625rem;
}

#icone_geo {
  background-color: #f2f2f2;
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icone_recherche {
  
}

/* .fa-map-marker-alt {
  padding: 0.625rem;
  background-color: #f2f2f2;
  border-bottom-left-radius: 1.875rem;
  border-top-left-radius: 1.875rem;
} */

/*Logo*/

/*Filtres*/

#filtres {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 10pt;
}

#filtres li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.625rem;
    padding-right: 0.9375rem;
}

div .liste-filtres {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

div .liste-filtres li {
  border: 2px solid #f2f2f2;
  border-radius: 1.875rem;
  text-align: left;
  padding-right: 0.9375rem;
  width: auto;
  margin: 1.25rem;
  transition: all 100ms;
}

div .liste-filtres li:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

div p {
  font-size: 10pt;
}

.texte-filtre {
  padding-left: 0.625rem;
}

/* Info */

.info {
  margin-top: 1.5rem;
}

/*Titres et paragraphes*/

h1 {
  font-size: 15pt;
}

h2 {
  font-size: 10pt;
}

p {
  font-size: 10pt;
}

/*Pied de page*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 1.25rem;
  width: 100%;
  padding-right: unset;
}

footer section {
  width: 33%;
}

/*Images*/

section {
  background-color: #f2f2f2;
  border-radius: 1.25rem;
}

figure {
  background-color: white;
  box-shadow: 1px 1px 1.25rem grey;
  transition: all 200ms;
}

figure:hover {
  background-color: #f2f2f2;
  transform: scale(1.1);
}

.fig {
  text-decoration: none;
  color: black;
  height: 33%;
}

/*Hébergements*/

/*conteneur*/
#hebergements_marseille {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}

#hebergements {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 0.625rem;
  margin-right: 0.9375rem;
  width: 70%;
  height: auto;
}


/*figures + description*/
.hebergement {
  height: 85%;
  border-radius: 1.25rem;
  padding: 0.1875rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin-inline-start: unset;
}

.hebergement > figcaption {
  padding: 0.625rem;
}

.fig-hebergement {
  width: 33%;
  height: 50%;
}

/*images*/
.imageHebergementsMarseille {
  width: 100%;
  height: 6.25rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  object-fit: cover;
}




/* .inline-start {
  margin-inline-start: unset;
}

.inline-end {
  margin-inline-end: unset;
} */





/*Populaires*/

/*figures + description*/
.populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 7.5rem;
  border-radius: 1.25rem;
  padding: 0.1875rem;
  width: 100%;
  margin-inline-start: 0%;
}

.caption_pop {
  padding-left: 0.625rem;
  width: 60%;
}

/*images*/
.pop {
  width: 40%;
  height: 100%;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  position: relative;
  object-fit: cover;
}

/*conteneur*/
#Populaires {
  width: 30%;
  height: auto;
  padding: 1.25rem;
  margin-left: 0.9375rem;
}

#populaires_marseille {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

/*titre*/
#titre_pop {
  display: flex;
  justify-content: space-between;
}

.icone_titre_pop {
  font-size: 1.25rem;
  padding: unset;
  margin: unset;
}

/*Hébergements + populaires*/
.hebergement-et-populaire {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* min-width: 1350px; */
}

/*Activités*/

/*images*/
.act {
  width: 100%;
  height: 85%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  object-fit: cover;
}

.act2,
.act6 {
  height: 75%;
}

.act3,
.act5 {
  height: 66%;
}

.act1 {
  margin-inline-start: unset;
}

/*conteneur*/
#Activités {
  background-color: white;
  margin-top: 3.125rem;
  width: 100%;
}

#Activités > div {
  height: auto;
  padding: 0.9375rem;
  display: flex;
  width: auto;
  justify-content: space-between;
}

.activité {
  border-radius: 1.25rem;
  margin-inline-start: unset;
  width: 92%;
}

.activité_grd {
  height: 25rem;
}

.activité_myn {
  height: 13.75rem;
}

.activité_ptt {
  height: 10.625rem;
}

.haut, .bas, .activité_grd {
  margin: 0.3125rem;
}

.petit {
  display: flex;
  flex-direction: column;
}

.figcaption {
  padding: 0.625rem;
}

.end {
  margin-inline-end: unset;
}

.images {
  /* min-width: 1350px; */
}



/*réglage des largeur/hauteur en pourcentage*/

.fig-activité {
  width: 25%;
  height: 100%;
}

.fig-myn {
  width: 100%;
  height: 60%;
}

.fig-ptt {
  width: 100%;
  height: 40%;
}